.charBlock {
    max-width: '30px' !important;
    max-height: '30px' !important;
    min-width: '30px' !important;
    min-height: '30px' !important;
    text-transform: lowercase !important;
    font-weight: 'bold' !important;
  }
  
  .unknownStatus {
    background-color: 'white' !important;
  }
  
  .correctStatus {
    background-color: 'green' !important;
  }
  
  .invalidCharStatus {
    background-color: 'grey' !important;
  }
  
  .validCharWrongPositionStatus {
    background-color: 'yellow' !important;
  } 